.diagnosis-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px;
  max-height: 50vh;
}

.table-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  max-height: 40vh; /* Adjust as needed */
  overflow-y: auto;
  max-width: 40vw;
  border: solid 2px black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: aliceblue;
}

table {
  width: 100%;
  border: 4px black;
  margin: 10px 0;
  border-radius: 0.5rem;

}

th, td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

h2 {
  text-align: center;
}
