.diagnosis-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px;
  max-height: 50vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

  h2 {
    border-bottom: solid 2px black;
    padding-bottom: 1rem;
    margin: 0;
    padding-top: 1rem;
    background-color: lightblue;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

.table-wrapper {
  max-height: 40vh; /* Adjust as needed */
  overflow-y: auto;
  max-width: 40vw;
  background-color: aliceblue;
}

table {
  width: 100%;
  border: 4px black;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.5rem;
}

th, td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

h2 {
  text-align: center;
}
